.main
  .main__feader
    .main__feader__left
      .main__feader__left__name
        <p>test</p>
      .main__feader__left__member
        <ul>Member :</ul>
        <li>test</li>
    .main__feader__right
      = link_to('Edit',"#")

  .main__wrapper
    .tweets
      .tweets__box
        %p.tweets__box__name
          name
        %p.tweets__box__date
          2020/11/11 1111
      %p.tweets__text
        test
  .main__footer
    .main__footer__text
      %input
      = link_to '#' do
        = icon('fa','image', class: "main__footer__text__img")
    .main__footer__submit
      = link_to('Send',"#")