.main
  .main__feader
    .main__feader__left
      .main__feader__left__name
        <p>test</p>
      .main__feader__left__member
        <ul>Member :</ul>
        <li>test</li>
    .main__feader__right
      = link_to('Edit',"#")
  .main__footer