.side
  .side__feader
    .side__feader__box
      .side__feader__box__name
        <h1>name</h1>
      .side__feader__box__icon
        = link_to "#" do
          = icon('far', 'edit', class: "side__feader__box__icon__new-group")
          %span<>
        = link_to "#" do
          = icon('fa', 'cog', class: "side__feader__box__icon__edit")
          %span<>
  .side__main
    .side__main__group
      .side__main__group__name
        <p>tech</p>
      .side__main__group__message
        <p>tech2</p>