.main {
  height: 100vh;
  &__feader{
    background-color: #fff;
    height: 100px;
    padding: 0 40px 0;
    border-bottom: solid 1px #eee;
    display: flex;
    justify-content: space-between;
    &__left{
      padding-top:35px;
      &__name{
        color: #333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__member{
        color: #999;
        font-size: 12px;
        display: flex;
        ul,li {
          list-style: none;
        }
      }
    }  
    &__right{
      border: solid 1px #38aef0;
      width: 72px;
      height: 40px;
      padding:0 20px 0;
      font-size: 16px;
      margin-top: 28px;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  &__wrapper{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    width: calc(100vw - 300px);
    padding: 35px 40px;
  }
  
  &__footer{
    background-color: #d2d2d2;
    height: 90px;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 300px);
  }
}

.tweets {
  margin-bottom: 46px;
  &__box{
    display: flex;
    margin-bottom: 12px;
    &__name{
      color: #333;
      font-size: 16px;
      font-weight: bolder;
    }
    &__date{
      font-size: 12px;
      color: #999;
      margin-left: 10px;
    }
  }
  &__text{
    font-size: 14px;
    color: #434A54;
  }
}